div.trackable_dt_table table.table td {
  cursor: default;
  color: #999999; }
  div.trackable_dt_table table.table td.changeable {
    color: #003366; }
    div.trackable_dt_table table.table td.changeable:hover {
      cursor: text;
      background-color: #bdd8da; }
    div.trackable_dt_table table.table td.changeable[change_cid] {
      background-color: #ffd1b2; }
    div.trackable_dt_table table.table td.changeable div.input_div {
      width: auto;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 5px;
      margin-right: 5px; }
      div.trackable_dt_table table.table td.changeable div.input_div input {
        width: 100%;
        padding: 0;
        margin: 0; }

div.changeset_placeholder {
  display: none; }

div.changeset_view ul li {
  margin: 2px; }
  div.changeset_view ul li:hover {
    background-color: whitesmoke; }
  div.changeset_view ul li div.row div.the_change {
    margin: 4px;
    margin-left: 18px;
    position: relative; }
    div.changeset_view ul li div.row div.the_change p {
      white-space: nowrap;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 14px;
      padding-right: 30px;
      margin: 0;
      padding: 2; }
      div.changeset_view ul li div.row div.the_change p.muted {
        line-height: 12px;
        font-size: 10px; }
    div.changeset_view ul li div.row div.the_change div.btn_set {
      position: absolute;
      right: 8px;
      top: 2px; }
