$changeable_hover_bg_color:  #BDD8DA
$changeable_fg_color:      #003366
$unchangeable_fg_color:    #999999
$changed_bg_color:				  #FFD1B2
$changeset_li_hover_bg_color: white
$nicelookinig_gray:	#E1E1E8	
$the_change_highlight:  rgba(73, 175, 205, 0.26)

// radius
$radius-medium: 8px
$radius-small: 4px

@mixin line_shadow
	-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75)
	-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75)
	box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.75)

div.layout_view
	background-color: #F7F7F9
	border: 1px solid $nicelookinig_gray
	position: relative
	-webkit-border-radius: $radius-medium
	-moz-border-radius: $radius-medium
	border-radius: $radius-medium
	padding: 10px
	height: auto
	//border: 1px solid #E1E1E8

div.trackable_dt_table
	overflow-y: scroll

	table.table
		td
			cursor: default
			color: $unchangeable_fg_color

			&.changeable
				color:  $changeable_fg_color

				&:hover
					cursor: text
					background-color: $changeable_hover_bg_color
				&[change_cid]
					background-color: $changed_bg_color
					&.highlight
						color: white
						text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
						background-color: #49AFCD
						text-decoration: underline


				div.input_div
					width: auto
					margin:
						top: 2px
						bottom: 2px
						left: 5px
						right: 5px
					input
						width: 100%
						padding: 0
						margin: 0

div.datatable_placeholder
	margin: 20px
	margin-top: 23px
	z-index: 10
	

div.changeset_placeholder
	position: absolute
	right: 0px
	top: 0px
	//display: none
	width: 300px
	margin: 20px
	margin-top: 0px
	z-index: 1

	div.changeset_view
		padding: 0
		margin: 0
		position: relative

		button.changeset_title
			position: absolute
			right: 10px
			top: 5px
			display: none

		div.changet_view_content
			padding: 8px
			margin: 0
			position: absolute
			top: 32px
			right: 10px
			width: 280px
			display: none
			@include line_shadow

			ul
				background-color: #E6E6EB
				border: 1px solid $nicelookinig_gray
				overflow-y: scroll
				-webkit-border-radius: $radius-small
				-moz-border-radius: $radius-small
				border-radius: $radius-small	
				top: 30px
				left: 10px
				width: 280px		

				li
					margin: 2px

					div.the_change
						margin: 0px
						position: relative
						-webkit-border-radius: $radius-small
						-moz-border-radius: $radius-small
						border-radius: $radius-small
						@include line_shadow
						background-color:	#F7F7F9

						a:hover
							cursor: pointer

						&.highlight
							background-color: $the_change_highlight
							&:hover
								background-color: $the_change_highlight
							p.muted
								color: gray

						&:hover
							background-color: $changeset_li_hover_bg_color

						p
							white-space: nowrap
							width: auto
							overflow: hidden
							text-overflow: ellipsis
							line-height: 14px
							padding-right: 30px
							margin: 0
							padding: 2px
							padding-left: 15px
							&.muted
								line-height: 12px
								font-size: 10px
								border-bottom: 1px solid #888888

							&.field_text
								font-size: 10px
								text-align: left
								text-transform: lowercase
								color: black
								padding-left: 5px
								font-size: bold

						div.btn_set
							position: absolute
							right: 5px
							top:	2px

