$changeable_bg_color: #BDD8DA
$changeable_fg_color:      #003366
$unchangeable_fg_color:    #999999
$changed_bg_color:				  #FFD1B2

div.trackable_dt_table
	table.table
		td
			cursor: default
			color: $unchangeable_fg_color

			&.changeable
				color:  $changeable_fg_color

				&:hover
					cursor: text
					background-color: $changeable_bg_color
				&[change_cid]
					background-color: $changed_bg_color

				div.input_div
					width: auto
					margin:
						top: 2px
						bottom: 2px
						left: 5px
						right: 5px
					input
						width: 100%
						padding: 0
						margin: 0


